__pycache__
__pycache__/
db_config.cpython-310.pyc
myvenv
venv
.env

# Ignora il contenuto della cartella car_images ma non la cartella stessa
static/car_images/*
!static/car_images/.gitkeep

test_cache.py
