<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- Icona della pagina -->
    <link rel="icon" type="image/png" href="../static/favicon/favicon.png">
    <title>WikiSportCars</title>
</head>
<body>
    <header>
        <h1>Benvenuti su WikiSportCars</h1>
        <nav>
            <div class="nav-left">
                <a href="{{ url_for('index') }}">Home</a>
            </div>
            <div class="nav-center">
                <a href="{{ url_for('favorites') }}">Preferiti</a>
            </div>
            <div class="nav-right">
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                    <a href="{{ url_for('login', next=request.path) }}">Login</a>
                    <a href="{{ url_for('register') }}">Registrati</a>
                {% endif %}
            </div>
        </nav>
    </header>
    <main>
        <h2>Macchine Disponibili</h2>
        {% if not cars %}
            <p>Nessuna macchina disponibile.</p>
        {% else %}
            <div class="car-list">
                {% for car in cars %}
                    <div class="small-car-container">
                        <div class="small-car-image">
                            {% if car.image[0:4] == 'http' %}
                                <img src="{{ car.image }}" alt="{{ car.name }}">
                            {% else %}
                                <img src="{{ url_for('static', filename='images/' ~ car.image) }}" alt="{{ car.name }}">
                            {% endif %}
                        </div>
                        <div class="small-car-info">
                            <h3>{{ car.name }}</h3>
                            <a href="{{ url_for('car_detail', car_id=car.id) }}">Dettagli</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </main>
    <footer>
        <p>&copy; 2023 WikiSportCars. Tutti i diritti riservati.</p>
    </footer>
</body>
</html>
