<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
    <!-- Icona della pagina -->
    <link rel="icon" type="image/png" href="../static/favicon/favicon.png">
    <title>Login - WikiSportCars</title>
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('index') }}" class="left">Home</a>
        </nav>
    </header>
    <div class="login-layout">
        <div class="login-section">
            <div class="login-card">
                <h2>Benvenuto in WikiSportCars!</h2>
                <form method="POST" action="{{ url_for('login', next=request.args.get('next')) }}">
                    <input type="hidden" name="next" value="{{ request.args.get('next', '') }}">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required> <br><br>
                    
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required> <br>
                
                    <input type="submit" value="Accedi" class="button">
                </form>
                <p>Non hai un account? <a href="{{ url_for('register') }}">Registrati qui</a></p>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class="flashes">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="animation-section">
            <div class="car-animation"></div>
        </div>
    </div>
</body>
</html>